fastapi>=0.111.0
uvicorn>=0.30.0
pydantic>=2.7.0
pydantic[email]
python-dotenv==1.0.1
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
openai>=1.0.0
fastapi-mail==0.9.8
aiosmtplib>=2.0.0
